.categoryCard-body{
    width: 200px;
    height: 160px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: 0.1s ease-out;
    background-color: #76ABAE;
}
.categoryCard-body:hover{
    transform: scale(1.05);
}

.categoryCard-body h1{
    font-family: cursive;
    border-radius: 10px;
    width: 90%;
    text-align: center;
}
.categoryCard-body{
    font-size: 0.8rem;
    width: 150px;
    height: 100px;
    display: grid;
    place-items: center;
}


